<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Basthon</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/open-sans.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/style.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <object id="ribbon" type="image/svg+xml" data="theme/assets/img/ribbon.svg"></object>
    <div id="title">
      <img src="{{ SITEURL }}/theme/assets/img/basthon.svg" class="shadowed" alt="Basthon"/>
    </div>
    <div id="subtitle">
      <div>Un bac à sable pour </div>
      <div class="language-scroller">
        <ul>
          <li>Python</li>
          <li>SQL</li>
          <li>Ocaml</li>
          <li>JS</li>
          <li>Python</li>
        </ul>
      </div>
      <div>, dans le navigateur !</div>
    </div>
    <div id="menu">
      <nav>
	<ul class="menu">
	  <li><a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/assets/img/home.svg"/></a></li>
	  <li>
            <a href="#"> Console</a>
            <ul>
              <li><a href="https://console.basthon.fr">Python</a></li>
              <li><a href="https://console.basthon.fr/sql">SQL</a></li>
              <li><a href="https://console.basthon.fr/ocaml">OCaml</a></li>
              <li><a href="https://console.basthon.fr/javascript">JavaScript</a></li>
            </ul>
	  </li>
	  <li>
            <a href="#"> Notebook</a>
            <ul>
              <li><a href="https://notebook.basthon.fr">Python</a></li>
              <li><a href="https://notebook.basthon.fr/sql">SQL</a></li>
              <li><a href="https://notebook.basthon.fr/ocaml">OCaml</a></li>
              <li><a href="https://notebook.basthon.fr/javascript">JavaScript</a></li>
            </ul>
	  </li>
	  <li><a href="{{ SITEURL }}/desktop.html">Desktop</a>
	  </li>
	  <li><a href="{{ SITEURL }}/about.html"> Le Projet</a>
	  </li>
	  <li><a href="{{ SITEURL }}/galerie.html"> Galerie</a>
	  </li>
	  <li><a href="{{ SITEURL }}/doc.html"> Documentation</a>
	  </li>
	  <li><a href="{{ SITEURL }}/contrib.html"> Contribuer</a>
	  </li>
	</ul>
	<div class="clearfix"></div>
      </nav>
    </div>
    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
    {% block endbody %}
    {% endblock %}
  </body>
</html>
