html {
    /* fix jumping scrollbar */
    margin-left: calc(100vw - 100%);
}

body {
    background-color: #f8f8f8;
    margin: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(35, 35, 35);
    font-size: 1vw;
}

#ribbon {
    width: 8vw;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index:100;
}

#title {
    vertical-align: middle;
    width: 100%;
    text-align: center;
    padding: 2vh 0vh 0vh 0vh;
}

#title img {
    width: 30vw;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

.no-font {
    font-size: 0px;
}

.main {
    padding-left: 5vw;
    padding-right: 5vw;
}

.logo {
    width: 100%;
    text-align: center;
    padding: 5vh 0vh 0vh 0vh;
}

.app-logo {
    height: 10vw;
}

#app-logo-container-main {
    display: flex;
    justify-content: center;
}

#app-logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 80%;
}

#help-container {
    position: absolute;
    bottom: 0.5vw;
    left: 0;
    display: flex;
    justify-content: center;
}

#help {
    height: 5vw;
}

#ci-pipeline {
    position: absolute;
    top: .8vw;
    left: .8vw;
}

#ci-pipeline-img {
    width: 8.5vw;
}

.shadowed {
    filter: drop-shadow( 1vh 1vh 0.6vh rgba(0, 0, 0, .5));
}

a:hover {
    filter: drop-shadow( 1vh 1vh 0.6vh rgba(0, 0, 0, 0));
}

.menu {
    display: flex;
    padding-left: 3vw;
}

.menu li a img {
    width: 1.5vw;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#menu ul {
    list-style: none;
}

.clearfix {
    clear: both;
}

nav {
    display: block;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0,0,0,0.4);
    padding: 0 1vw;
    position: relative;
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-align: center;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.menu li {
    display: block;
}
nav ul ul {
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0,0,0,0.4);
}

.menu li a {
    color: #444;
    display: block;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0.5vw 1vw;
    margin: 0.4vw 0.4vw;
    vertical-align: middle;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ededed;
    border-radius: 0.5vw;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 3vw;
    padding: 0px;
}
	
nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    width: 8vw;
    float: none;
    display: list-item;
    position: relative;
}

.menu li:hover ul a {
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.menu li:hover ul li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff));
    border-radius: 0.5vw;
    box-shadow: inset 0px 0px 0.2vw 0.1vw rgba(0,0,0,0.3);
}

#subtitle {
    text-align: center;
    font-size: 1.17vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-scroller {
  height: 1.75vw;
  overflow: hidden;
  position: relative;
}

.language-scroller::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 0.4vw;
  position: absolute;
  background: linear-gradient(180deg, #f8f8f8, rgba(248, 248, 248, 0));
}

.language-scroller::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 0.4vw;
  position: absolute;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0), #f8f8f8);
}

.language-scroller ul {
    float: right;
    margin: 0;
    padding: 0;
    -webkit-animation: scroll-up-language 4s ease-in-out infinite normal;
    animation: scroll-up-language 4s ease-in-out infinite normal;
}

.language-scroller ul li {
    opacity: 1;
    height: 1vw;
    padding: 0vw 0vw 0.8vw 0.4vw;
    list-style: none;
}

@-webkit-keyframes scroll-up-language {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }
}

@keyframes scroll-up-language {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }
